<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="SelfUpdates,ProtectedPermissions" />

    <application
        android:label="MiniGolf Punktekarte"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.MiniGolf">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:launchMode="singleTask"
            tools:ignore="LockedOrientationActivity,SourceLockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Filter 1: Für Dateimanager (reagiert auf .mgpk und .bgsc) -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mgpk" />
                <data android:pathPattern=".*\\..*\\.mgpk" />
                <data android:pathPattern=".*\\..*\\..*\\.mgpk" />
                <data android:pathSuffix=".mgpk" tools:targetApi="s" />
                <data android:pathPattern=".*\\.bgsc" />
                <data android:pathPattern=".*\\..*\\.bgsc" />
                <data android:pathPattern=".*\\..*\\..*\\.bgsc" />
                <data android:pathSuffix=".bgsc" tools:targetApi="s" />
            </intent-filter>

            <!-- Filter 2: Für WhatsApp & Co (reagiert auf den MIME-Typ) -->
            <!-- WhatsApp verschickt Dokumente oft als octet-stream ohne Endung in der URI -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-binary" />
                <data android:mimeType="application/mgpk" />
                <data android:mimeType="application/bgsc" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>